-#  Modified 5/4/2012 by Zach Prezkuta
-#  Added check if user whose text is going into the email notification has disallowed
-#  his posts etc. from showing up in email notifications. If so, use the alternate
-#  text

!= "#{t('notifier.reshared.reshared', :name => "#{@notification.sender.name}")}:"
!= @notification.text_owner.user_preferences.exists?(:email_type => 'silent') ? "#{t('notifier.reshared.silenced_text')}" : post_message(@notification.reshare.root)

