%h2= t('.editing_group', :name => @group.name)

= form_for @group, :url => { :action => 'update' }, :method => 'put' do |f|
  %p
    %h4= t('.identifier')
    %span= @group.identifier_full
  %p
    %h4= t('.name')
    = f.label :name, t('.name_label')
    = f.text_field :name
  %p
    %h4= t('.description')
    = f.label :description, t('.description_label')
    = f.text_area :description, :rows => 8
  %p
    = f.submit t('.submit')
    = link_to t('.cancel'), group_path(@group), :class => 'button'

%h2= t('.members')

%ul
- @group.members.each do |m|
  %li
    = m.name
    = link_to t('.remove'), group_member_url(@group, m), :method => :delete
