.span-6
  = render :partial => 'groups/group_sidebar', :locals => {:group => @group}

.span-18.last
  .stream_container
    #group_info
      %h2
        = @group.name
      %span.group_identifier
        = @group.identifier

      .description
        = @group.description

    %hr

    - if @stream && @stream.stream_posts.length > 0
      #main_stream.stream
        = render 'shared/stream', :posts => @stream.stream_posts
        -# #pagination
          -# =link_to(t('more'), next_page_path, :class => 'paginate')
