-# Modified 5/5/2012 Zach Prezkuta
-# Add links to notifications and private messages to the mobile footer
-# Rearrange links

%footer
  = link_to t('notifications.index.notifications'), notifications_path
  = "(#{current_user.unread_notifications.count})"
  = link_to t('conversations.index.message_inbox'), conversations_path
  = "(#{current_user.unread_message_count})"
  %br
  %br
  = link_to t('layouts.application.toggle'), toggle_mobile_path
  %br
  %br
  %strong
    = link_to current_user.name, current_user.person
  = link_to t('layouts.header.logout'), destroy_user_session_path

