{{#if public}}
<span class="post_scope grey" title={{t "stream.viewable_to_anyone"}}>
    {{t "stream.public"}}
{{else}}
<span class="post_scope grey" title={{t "stream.contacts_shared_with"}}>
    {{t "stream.limited"}}
{{/if}}

  {{#if provider_display_name}}
    <strong>
      via {{provider_display_name}}
    </strong>
  {{/if}}
  –
</span>


<a href="#" class="like_action" rel='nofollow'>
  {{#if user_like}}
    {{t "stream.unlike"}}
  {{else}}
    {{t "stream.like"}}
  {{/if}}
</a>
·

{{#if userCanReshare}}
  <a href="#" class="reshare_action" rel='nofollow'>
    {{t "stream.reshare"}}
  </a>
  ·
{{/if}}

<a href="#" class="focus_comment_textarea" rel="nofollow">
  {{t "stream.comment"}}
</a>
